.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 36px;

}
.pagination {
    display: inline-block;
}

.hub{
  margin-top: 65px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

body {margin:0;}

.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: hidden;

}

.box {
  width: 328px;
  height: 20px;
  border: 2px solid #000;
  margin: 0 auto 15px;
  text-align: center;
  padding: 25px;
  font-weight: bold;
  border-radius: 10px;
}

.info {
    background-color: #ddd;
    border-color: #aaa;
    text-align: center;
    margin-top: 16px;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;

}

.icon-bar a:hover {
    background-color: #000;
}


  #logo{
   float: left;
    size: 205px;
    background-image: url(/images/4.png);
    height: 79px;
    width: 100px;
    padding-left: 3px;
  }
  #hd{
    padding-left: 597px;
  }
  .it
  {
    border-radius: 40%
    height: 150px;
    width:150px;
    padding-top: 87px;
    border-top-width: 74px;
    float: left;
    shape-outside: url("7.png");
    margin: 2px 5px 0px 52px;
  }
  * {
    box-sizing: border-box;
  }
  .wrapper {
    column-count: 0;
    padding: 50px;
  }


  {
    line-height: 1.6;
    font-family: Helvetica;
    text-align:inherit;
    margin: 0;
    font-size: 14px;
  }

  .search-form .form-group.showClass{

    width: 100%;
    border-radius: 4px 25px 25px 4px;

  }

  .rgt{
    float:right;
    height: 50px;
    width: 50px;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;

  }

  .fa:hover {
    opacity: 0.7;
    float: right;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
    float:right;

  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
    float:right;
  }

  .fa-linkedin {
    background: #dd4b39;
    color: white;
    float:right;
  }
  .fa-google{
    

  }

  .col{

  }
  .mr{
    float:right;
  }
  .fotr .fa:hover {
    opacity: 0.7;
  }

  .fotr .fa-facebook {
    background: #3B5998;
    color: white;
    float:right;
  }

  .fotr .fa-twitter {
    background: #55ACEE;
    color: white;
    float: right;
  }

  .fotr .fa-linkedin {
    background: #007bb5;
    color: white;
    float: right;
  }
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: ;
    height: 700px;
    margin: auto;
  }
  .footer {
   
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: grey;
   color: white;
   text-align: center;
    margin-top: 120px;

}
  .rw{
    margin-right: 20px;
    margin-left: 20px;
  }
  .rww{
    margin-left: 447px;
  }
.more{
      float: right;
      margin-right: 45px;
}

  input[type=text]:focus {
    width: 18%;
  }
    .text{
    width: 250px;
    height: 100px;
  }
 .carousel-indicators-numbers {
    li {
      text-indent: 0 !important;
      margin: 0 2px !important;
      width: 30px;
      height: 30px !important;
      border: none !important;
      border-radius: 100% !important;
      line-height: 30px !important;
      color: #fff !important;
      background-color: #999 !important;
      transition: all 0.25s ease !important;
      &.active, &:hover {
        margin: 0 2px !important;
        width: 30px !important;
        height: 30px !important;
        background-color: #337ab7 !important;        
      }
    }
}
#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search {
    padding: 5px 0;
    width: 230px;
    height: 30px;
    position: relative;
    left: 10px;
    float: right;
    line-height: 22px;
}

    .search input {
        position: absolute;
        width: 0px;
        float: Left;
        margin-left: 210px;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        height: 30px;
        line-height: 18px;
        padding: 0 2px 0 2px;
        border-radius:1px;
    }

        .search:hover input, .search input:focus {
            width: 200px;
            margin-left: 0px;
        }

.btn {
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius:1px;
}
.l{
  position: absolute;
    top: 0px;
    left: 43%;
}
.r{
  position: absolute;
  right:42%;top: 
  0px;
}

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}
@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}